 @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 html, body, #root {
     height: 100% !important;
     font-family: 'Source Sans Pro', sans-serif;
 }

 .App {
     height: 100% !important;
     display: flex;
     flex-direction: column;
 }

 .nav {
     flex: 1;
     display: flex;
 }

 .main {
     flex: 6;
     display: flex;
     position: relative;
 }

 .footer {
     display: flex;
     flex: 1;
 }

 a {
     text-decoration: none;
     color: #333;
 }

 button {
     font-family: 'Source Sans Pro', sans-serif;
     cursor: pointer;
 }

 .container {
     width: calc(90%);
     margin: auto;
 }

 .primary_btn {
     background: #16466A;
     border: none;
     padding: 14px 30px;
     border-radius: .2rem;
     color: #fff;
     border: 1px solid transparent;
     transition: .2s ease-out;
 }

 .primary_btn:hover {
     background: rgb(0, 209, 178, .06);
     color: #16466A;
     border: 1px solid #16466A;
 }

 /* ------------------------------- NAVBAR --------------------------------------------- */

 .logo {
     font-size: 28px;
     color: #333 !important;
 }

 .logo span {
     color: #16466A;
 }

 .nav {
     box-shadow: 0 2px 3px rgba(0, 0, 0, .03), 0 0 3px rgba(0, 0, 0, .06);
 }

 .nav .container {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     margin: auto;
 }

 .nav .container ul li {
     display: inline;
     padding: 0 30px;
     font-weight: bold;
 }

 /* ------------------------------- NAVBAR -------------------------------------------- */

 /* ------------------------------- MAIN --------------------------------------------- */

 .tutor_list .second {
     margin-top: 40px;
 }

 .tutor_list .second .col:nth-child(1) {
     display: flex;
     align-items: center;
 }

 .tutor_list .second .col:nth-child(2) {
     display: flex;
     margin-left: 100px;
 }

 .tutor_list .second .col:nth-child(2) i {
     margin: 0 5px;
     border: 1px solid #dfdfdf;
     padding: 10px 12px;
     border-radius: 50%;
 }

 .tutor_list .second .col:nth-child(1) span {
     margin-right: 10px;
 }

 .hero_title {
     font-size: 50px;
     color: #333;
     margin-bottom: 2rem;
     letter-spacing: 2px;
     margin-top: 1rem;
 }

 .img_holder {
     width: 70px;
     height: 70px;
     margin-right: 20px;
 }

 .img_holder img {
     border-radius: 50%;
 }

 .subtitle {
     font-size: 14px;
 }

 .bold {
     font-weight: bold !important;
 }

 .details .bold {
     margin-bottom: 20px;
 }

 .tutor_card {
     width: 300px;
     height: 360px;
     border: 1px solid #dfdfdf;
     padding: 20px 12px;
     border-radius: .2rem;
     cursor: pointer;
     transition: .5s ease-out;
     box-shadow: inset 10px 10px 50px 0px rgb(0, 209, 178, .1);
 }

 /* .tutor_card:hover {
    background: rgb(0, 209, 178);
  } */

 .tutor_card .top {
     display: flex;
     flex-direction: row;
     align-items: center;
 }

 .tutor_card ul {
     margin-top: 10px;
 }

 .tutor_card ul li {
     padding: 10px 0;
     margin-left: 16px;
 }

 .tutor_card h4 {
     margin-bottom: 6px;
 }

 .details {
     margin-top: 40px;
 }

 .text_primary {
     color: rgb(0, 209, 178);
 }

 .text_secondary {
     color: #16466A;
 }

 .text_gray {
     color: rgb(88, 88, 88);
     transition: .5s ease-out;
 }

 .row {
     display: flex;
     flex-direction: row;
 }

 .tutor_list .col {
     margin-right: 12px;
 }

 .tut_slider {
     width: 800px !important;
 }

 .slick-slide {
     margin: 0 20px;
     width: fit-content !important;
 }

 .slick-slider {
     height: 360px;
     width: 64%;
     margin-left: -40px;
     margin-bottom: 2rem !important;
 }

 .slick-slider .slick-list {
     height: 360px;
 }

 .slick-prev:before, .slick-next:before {
     color: #333 !important;
 }

 .slick-dots li.slick-active button:before {
     font-size: 10px;
     top: 1px;
 }

 .hero_img {
     position: absolute;
     top: 22%;
     right: 0;
     width: 500px;
 }

 .slick-current .tutor_card {
     background: rgba(0, 209, 178, .1);
     border: 1px solid rgb(0, 209, 178);
 }

 .slick-current .text_gray {
     color: #222;
 }

 .slick-active .tutor_card {
     opacity: .6;
 }

 .slick-current .tutor_card {
     opacity: 1 !important;
 }

 .active {
     color: #16466A !important;
 }

 .slick-prev:before, .slick-next:before {
     font-size: 30px !important;
 }

 /* ------------------------------- MAIN ------------------------------------------------ */

 /* ------------------------------- FOOTER --------------------------------------------- */

 .footer .container {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }

 .footer ul li {
     list-style: none;
     display: inline-block;
 }

 .footer .container div:nth-child(1) li {
     margin-right: 40px;
 }

 .footer .container div:nth-child(2) li {
     margin-left: 40px;
 }

 .footer ul li i {
     color: #16466A;
 }

 .footer ul li i:hover {
     color: #333;
 }

 /* ------------------------------- FOOTER --------------------------------------------- */

 /* ------------------------------- MOBILE NAV ---------------------------------------- */

 .mobile_nav {
     background: rgba(0, 255, 255, .2);
     display: none;
 }

 .mobile_nav ul li {
     padding: 10px 30px;
 }

 .right {
     float: right;
 }

 .close {
     position: absolute;
     right: 5%;
     top: 2%;
     z-index: 9;
 }

 .close i {
     padding: 10px;
     display: none;
 }

 /* ------------------------------- MOBILE NAV ------------------------------------------ */

 /* ------------------------------- JOINUS --------------------------------------------- */

 .joinus .container .row {
     display: flex;
     justify-content: space-evenly;
 }

 .setup {
     border: 1px solid #dfdfdf;
     text-align: center;
     width: 400px;
     padding: 50px;
     background: rgba(0, 209, 178, .2);
     cursor: pointer;
     border-radius: .4rem;
     transition: .4s ease-out;
 }

 .setup:hover {
     color: #fff;
     background: rgb(0, 209, 178);
 }

 .setup:hover .text_gray {
     color: #333;
 }

 .setup span {
     text-transform: uppercase;
     font-size: 60px;
 }

 .step {
     margin: auto;
     width: 60%;
     height: 1px;
     background: #dfdfdf;
     position: relative;
     margin-top: 2rem;
     margin-bottom: 4rem;
 }

 .step div {
     position: absolute;
 }

 .bubble {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     background: rgb(0, 209, 178);
     top: -20px;
     padding-top: 10px;
     color: #fff;
     text-align: center;
 }

 .step p {
     margin-top: 30px;
     margin-left: -10px;
 }

 .two {
     left: 50%;
 }

 .two .bubble {
     background: #dfdfdf;
 }

 .three {
     right: -40px;
 }

 .three .bubble {
     background: #dfdfdf;
 }

 .text_center {
     text-align: center !important;
 }

 .spacing_md {
     margin-bottom: 3rem;
 }

 /* ------------------------------- JOINUS --------------------------------------------- */