@media only screen and (max-width: 600px) {
    .container {
        width: 82%;
    }
    .nav {
        display: none;
    }
    .hero_title {
        letter-spacing: 0;
    }
    .hero_img {
        display: none;
    }
    .slick-prev, .slick-next {
        display: none !important;
    }
    .slick-slider {
        width: 100%;
        margin: auto;
    }
    .slick-slide {
        margin: 0;
    }
    .slick-track {
        transform: translate3d(2px, 2px 2px) !important;
    }
    .footer .container div li {
        display: block;
    }
    .footer .container div:nth-child(1) li {
        padding: 10px 0;
    }
    .footer .container div:nth-child(2) li {
        padding: 3px 0;
    }
    .mobile_nav {
        display: block;
    }
    .hero_title {
        padding-top: 3rem !important;
    }
    .close i {
        display: block;
    }
    .footer .container {
        display: inline;
    }
    .footer .container div {
        text-align: center;
        padding: 10px 0;
    }
    .footer .container div li {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    .footer .container div:nth-child(2) li {
        display: inline;
        padding: 20px;
    }
    /* .tutor_card {
        width: 100%;
    } */
    .step {
        display: none;
    }
    .joinus .container .row {
        flex-direction: column;
    }
    .joinus .spacing_md {
        margin-top: 3rem;
    }
    .setup {
        width: 100%;
        margin: 1rem 0;
    }
}